.custom_container {
    width: 80%;
    /* Largeur du conteneur */
    margin: 0 auto;
    /* Centrer le conteneur horizontalement */
}

.custom_row {
    display: flex;
    /* Utiliser flexbox pour les lignes */
}

.custom_col {
    flex: 1;
    /* Distribuer l'espace disponible également entre les colonnes */
    border: 1px solid #ccc;
    /* Ajouter une bordure pour la délimitation */
    padding: 10px;
    /* Ajouter un espace intérieur */
    box-sizing: border-box;
    /* Inclure la bordure dans la largeur/hauteur */
}


.table-container {
   /* max-height: 800px; */
    /* Ajustez la hauteur maximale selon vos besoins */
    overflow-y: auto;
    /* Ajoute une barre de défilement verticale lorsque le contenu dépasse */
    margin-top: 10px;
}

.custom-table {
    width: 100%;
    /* Assurez-vous que le tableau occupe tout l'espace disponible */
    border-collapse: collapse;
    /* Pour fusionner les bordures des cellules */
}

.custom-table thead th {
    background-color: #f2f2f2;
    /* Couleur de fond de l'entête du tableau */
    position: sticky;
    /* Fixe l'entête du tableau en haut de la vue lorsque vous faites défiler */
    top: 0;
    /* Place l'entête du tableau en haut */
    z-index: 2;
    /* Assure que l'entête reste au-dessus du contenu du tableau */
}

.custom-table tbody tr:hover {
    background-color: #f5f5f5;
    /* Couleur de fond au survol des lignes */
}


/* Style de la table */
.table-excel {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 6%;
}

/* Style des en-têtes de colonnes */
.table-excel th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center; /* Center the heading table - Ravo */
    height: 15px;
        /* Définissez la hauteur de l'entête */
}

/* Start Ravo Modification */

/* Start page board */
/* Put the button retour on the right side and added padding outside the board-menu-conteneur */
.boardcontainer .boardheader .board-menu-conteneur {
    flex-direction: row-reverse;
    padding: 0 21px;
}

/* Remove margin on popup of the page board */
#task_modal_container .modal-body .column input#title_i, 
#task_modal_container .modal-body .column textarea#description, 
#task_modal_container .modal-body .column label#description_error, 
#task_modal_container .modal-body .column input#estimation_val, 
#task_modal_container .modal-body .column input#start_date, 
#task_modal_container .modal-body .column label#start_date_error, 
#task_modal_container .modal-body .column label#due_date_error, 
#task_modal_container .modal-body .column input#due_date {
    margin: 0;
}

/* Add space under the select Assigner intervenant */
#task_modal_container .modal-body .column .ts-wrapper.multi.plugin-remove_button {
    margin-bottom: 1.5rem;
}

/* End page board */

/* Start Page Saisie de temps */

/* Put the 'time' position to the left side */
#table-container .table-excel tbody tr td input#decimal_input {
    text-align: end;
}

/* Center the 'my_col' with padding */
.body-bg .container .my_row .my_col #header {
    display: flex;
}


/* Start Responsive 'user_info'*/
.body-bg .container .my_col {
    display: initial;
    margin: 0;
}
/* Screen SM */
@media (min-width: 568px) {
    .body-bg main#main .my_row .my_col #header div {
        font-size: 1.1rem;
        padding: 0 20px;
    }
}

/* Screen MD */
@media (min-width: 768px) {
    .body-bg main#main {
        padding: 50px 0 0 0 !important;
    }
    .body-bg main#main .my_row .my_col #header div {
        font-size: 1.4rem;
        padding: 0 32px;
    }
}

/* Screen L */
@media (min-width: 1024px) {
    .body-bg main#main .my_row .my_col #header div {
        font-size: 1.9rem;
        padding: 0 43px;
    }
}

/* Screen XL*/
@media (min-width: 1280px) {
    .body-bg main#main .my_row .my_col #header div {
        font-size: 2rem;
        padding: 0 70px;
    }
}

/* Screen XXL */
@media (min-width: 1920px) {
    .body-bg main#main .my_row .my_col #header div {
        font-size: 2.6rem;
        padding: 0 100px;
    }
}

/* Screen XXXL */
@media (min-width: 2560px) {
    .body-bg main#main .my_row .my_col #header div {
        font-size: 2.8rem;
        padding: 0 140px;
    }
}
/* End Responsive 'user_info'*/

/* Start 'table-container'*/

/* Select overflow input projet */
/* #main #table-container {
    overflow-y: visible !important;
} */ /*Disable scroll saisie de temps */

/* Size input project */
#table-container .table-excel #record-table-body tr td .ts-wrapper {
    bottom: 0.7rem;
}

/* Size of the tom-select input in saisie de temps */
#table-container .table-excel #record-table-body tr td .ts-wrapper .ts-control {
    /* flex-wrap: unset;  */
    /* width: 80%; */
}

/* Location input select and cursor input inline in saisie de temps */
#table-container .table-excel #record-table-body tr td .ts-wrapper .ts-control input {
    height: 2.7rem;
    /* position: relative !important; */
}

/* Width the dropdown input select */
/* #table-container .table-excel tbody tr td .ts-dropdown.single {
    width: 80%;
} */

/* Align-right the text input in ts-control */
#table-container .table-excel #record-table-body .ts-wrapper .ts-control .item {
    margin-right: 23px;
}

/* Start Responsive 'table-container'*/

/* Screen SM */
@media (min-width: 568px) {
    /* Max-height table-container, change in need */
    #main div#table-container {
        /* height: 20rem; */
        margin-top: 0 !important;
        /* max-height: 73% !important; */ /* Disable the max for browser firefox */
    }

    /* Margin-bottom between the table and the plus icon */
    #main #table-container .table-excel {
        margin-bottom: 20%;
        /* Modify the display to table */
        display: table;
        overflow-x: initial;
    }

    /* Size of the input client  */
    #main #table-container .table-excel #record-table-body .client input[type="text"] {
        width: 13rem;
    }

    /* Size of the input labels  */
    #main #table-container .table-excel #record-table-body .labels input[type=text] {
        width: 20rem;
    }

    /* Width date, temps, actions */
    #main #table-container .table-excel #record-table-body td.date,
    #main #table-container .table-excel #record-table-body td.temps,
    #main #table-container .table-excel #record-table-body td.actions {
        width: 0%;
    }

    /* Size of the dropdown in task column */
    #main #table-container .table-excel #record-table-body .task .ts-wrapper .ts-dropdown.single {
        width: 68rem;
    }

    /* Size for every select drop-down: projet and task */
    #table-container .table-excel #record-table-body .ts-wrapper .ts-dropdown div.ts-dropdown-content {
        max-height: 12rem;
    }

    /* Size of the select */
    #table-container .table-excel #record-table-body tr td .ts-wrapper .ts-control {
        width: 31rem;
    }
}   

/* Screen MD */
@media (min-width: 768px) {
    /* Size for every select drop-down: projet and task */
    #table-container .table-excel #record-table-body .ts-wrapper .ts-dropdown div.ts-dropdown-content {
        max-height: 16rem;
    }
}

/* Screen MDL */
@media (min-width: 992px) {
    /* Margin-bottom between the table and the plus icon */
    #main #table-container .table-excel {
        margin-bottom: 16%;
    }

    /* Width user */
    #main #table-container .table-excel #record-table-body td.user {
        width: 12%;
    }

    /* Width project_id */
    #main #table-container .table-excel #record-table-body td.project_id {
        width: 36%;
    }

    /* Width column client */
    #main #table-container .table-excel #record-table-body td.client {
        width: 18%;
    }


    /* width task */
    #main #table-container .table-excel #record-table-body td.task {
        width: 27%;
    }
}

/* Screen L */
@media (min-width: 1024px) {
    /* Margin-bottom between the table and the plus icon */
    #main #table-container .table-excel {
        margin-bottom: 15%;
    }
}

/* Screen XL */
@media (min-width: 1280px) {
    /* Margin-bottom between the table and the plus icon */
    #main #table-container .table-excel {
        margin-bottom: 12%;
    }

    /* Size of the input labels  */
    #main #table-container .table-excel #record-table-body .labels input[type=text] {
        width: 22rem;
    }

    /* Width user */
    #main #table-container .table-excel #record-table-body td.user {
        width: 9%;
    }

    /* Width project_id */
    #main #table-container .table-excel #record-table-body td.project_id {
        width: 17%;
    }

    /* Width column client */
    #main #table-container .table-excel #record-table-body td.client {
        width: 8%;
    }

    /* width task */
    #main #table-container .table-excel #record-table-body td.task {
        width: 20%;
    }

    /* Size of the dropdown in task column */
    #main #table-container .table-excel #record-table-body .task .ts-wrapper .ts-dropdown.single {
        width: 70rem;
    }
}

/* Screen XLMD */
@media (min-width: 1440px) {
    /* Margin-bottom between the table and the plus icon */
    #main #table-container .table-excel {
        margin-bottom: 11%;
    }

    /* Width user */
    #main #table-container .table-excel #record-table-body td.user {
        width: 8%;
    }

    /* Width column client */
    #main #table-container .table-excel #record-table-body td.client {
        width: 7%;
    }

    /* Size of the input labels  */
    #main #table-container .table-excel #record-table-body .labels input[type=text] {
        width: 100%;
    }
}

/* Screen XXLMD */
@media (min-width: 1680px) {
    /* Margin-bottom between the table and the plus icon */
    #main #table-container .table-excel {
        margin-bottom: 9%;
    }

    /* Width user */
    #main #table-container .table-excel #record-table-body td.user {
        width: 7%;
    }

    /* Width column client */
    #main #table-container .table-excel #record-table-body td.client {
        width: 6%;
    }

    /* Size of the select */
    #table-container .table-excel #record-table-body tr td .ts-wrapper .ts-control {
        width: 40rem;
    }

    /* Size of the dropdown in task column */
    #main #table-container .table-excel #record-table-body .task .ts-wrapper .ts-dropdown.single {
        width: 83rem;
    }
}

/* Screen XXL */
@media (min-width: 1920px) {
    /* Margin-bottom between the table and the plus icon */
    #main #table-container .table-excel {
        margin-bottom: 8%;
    }

    /* Width user */
    #main #table-container .table-excel #record-table-body td.user {
        width: 6%;
    }

    /* Width column client */
    #main #table-container .table-excel #record-table-body td.client {
        width: 5%;
    }

    /* Size of the select */
    #table-container .table-excel #record-table-body tr td .ts-wrapper .ts-control {
        width: 50rem;
    }

    /* Size of the dropdown in task column */
    #main #table-container .table-excel #record-table-body .task .ts-wrapper .ts-dropdown.single {
        width: 98rem;
    }
}

/* Screen 2200px */
@media (min-width: 2200px) {
    /* Margin-bottom between the table and the plus icon */
    #main #table-container .table-excel {
        margin-bottom: 7%;
    }
    
    /* Max-height table-container, change in need */
    #main div#table-container {
        max-height: 77% !important;
    }
}

/* Screen 2400px */
@media (min-width: 2400px) {
    /* Max-height table-container, change in need */
    #main div#table-container {
        max-height: 79% !important;
    }
}


/* Screen 2560px */
@media (min-width: 2560px) {
    /* Margin-bottom between the table and the plus icon */
    #main #table-container .table-excel {
        margin-bottom: 6%;
    }

    /* Max-height table-container, change in need */
    #main div#table-container {
        max-height: 81% !important;
    }

    /* Size of the select */
    #table-container .table-excel #record-table-body tr td .ts-wrapper .ts-control {
        width: 60rem;
    }
}

/* Screen 3680px */
@media (min-width: 3680px) {
    /* Margin-bottom between the table and the plus icon */
    #main #table-container .table-excel {
        margin-bottom: 4%;
    }

    /* Max-height table-container, change in need */
    #main div#table-container {
        max-height: 86% !important;
    }

    /* Size of the select */
    #table-container .table-excel #record-table-body tr td .ts-wrapper .ts-control {
        width: 80rem;
    }
}

/* End Responsive 'table-container'*/

/* End 'table-container'*/

/* Start Page Project admin */
/* Start Responsive Page Project admin */
/* Screen 830px */
@media (min-width: 830px) {
    /* Make the header to a static position */
    /* Make the table to be able to collapse */
    /* .boardcontainer table#tb-auth {
        border-collapse: collapse;
        table-layout: fixed;
        width: 101%;
    } */

    /* Align the table head */
    /* .boardcontainer table#tb-auth thead tr {
        display: flex;
        justify-content: space-evenly;
    } */

    /* Adjust the size of the header Nom */
    /* .boardcontainer table#tb-auth thead th:nth-child(1) {
        width: 18%;
    } */

    /* Adjust the size of the header Description */
    /* .boardcontainer table#tb-auth thead tr th:nth-child(2) {
        width: 27%;
    } */
    
    /* Adjust the size of the header Prog */
    /* .boardcontainer table#tb-auth thead tr th:nth-child(3) {
        width: 3% !important;
    } */
    
    /* Adjust the size of the header Date de début */
    /* .boardcontainer table#tb-auth thead tr th:nth-child(4) { */
        /* width: 8% !important; */
    }
    
    /* Adjust the size of the header Date de fin et Durée accompli */
    /* .boardcontainer table#tb-auth thead tr th:nth-child(5), .boardcontainer table#tb-auth thead tr th:nth-child(7) {
        width: 5% !important;
    } */

    /* Adjust the size of the header Durée estimée et Date d'échéance */
    /* .boardcontainer table#tb-auth thead tr th:nth-child(6), .boardcontainer table#tb-auth thead tr th:nth-child(8) { */
        /* width: 7% !important; */
    /* } */

    /* Adjust the size of the header Client */
    /* .boardcontainer table#tb-auth thead tr th:nth-child(9) {
        width: 12% !important;
    } */

    /* Overflow the tbody when reach a certain height */
    /* .boardcontainer table#tb-auth tbody {
        display: block;
        height: 68rem;
        overflow: auto; */
        /* width: 1000%; */
    /* } */
    
    /* Adjust the size of the body Nom */
    /* .boardcontainer table#tb-auth tbody tr td:nth-child(1) {
        width: 21%;
    } */
    
    /* Adjust the size of the body Description */
    /* .boardcontainer table#tb-auth tbody tr td:nth-child(2) {
        width: 31%;
    } */
    
    /* Adjust the size of the body Prog and Durée accompli*/
    /* .boardcontainer table#tb-auth tbody tr td:nth-child(3), .boardcontainer table#tb-auth tbody tr td:nth-child(7) {
        width: 4%;
    } */
    
    /* Adjust the size of the body Date de début,  Date de fin, Durée estimée, Date d'échéance and Client */
    /* .boardcontainer table#tb-auth tbody tr td:nth-child(4), .boardcontainer table#tb-auth tbody tr td:nth-child(5), .boardcontainer table#tb-auth tbody tr td:nth-child(6), .boardcontainer table#tb-auth tbody tr td:nth-child(8), .boardcontainer table#tb-auth tbody tr td:nth-child(9) {
        width: 8%;
    } */

    /* Make the header to a static position */
/* } */

/* End Responsive Page Project admin */
/* End  Page Project admin */

/* Start Page Saisie de temps admin */
    /* Space-between my_col */
    #main .my_row .my_row .my_col {
        padding: 0 4rem;
}

    /* Display of the Title my_col*/
    #main .my_row .my_row .my_col {
        display: inline-flex;
}

    /* Center the filter submit */
    #main .my_row .my_row .my_col input[type="submit"] {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 90px;
}

    /* Position the title #espace_admin to left side */
    /* .body-bg .container #espace_admin {
    display: block;
} */

/* Start Responsive Saisie de temps admin */
/* Screen S */
@media (min-width: 320px) {
    /* Size of the badge-green cell */
    .table-excel #record-table-body .badge-cell span.badge-green {
        width: 100%;
    }

    /* Size of the brand header */
    .site-header .site-header__wrapper a.brand {
        display: flex;
        font-size: 1.4rem;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    /* Position of the mobile notif */
    .site-header__wrapper .mobile__notif {
        position: relative;
        padding: 0;
        left: -3rem;
        top: 0;
    }

    /* Reduce the width of the my_col header */
    .body-bg .container .my_row .my_col #header {
        flex-direction: column;
    }

    /* Added padding around the div in header */
    .body-bg .container .my_row .my_col #header div {
        padding: 6px;
    }

    /* Added padding around the my_col */
    #main .my_row .my_row .my_col {
        padding: 1rem;
    }

    /* Adjust the height of the select in my_col */
    #main .my_row .my_row .my_col select {
        height: 3.6rem;
    }

    /* Adjust the size of the col username */
    #main .my_row .my_row .my_col:nth-child(5) {
        width: 88% !important;
    }

    /* Adjust the size of the label username */
    #main .my_row .my_row .my_col:nth-child(5) label {
        width: 30rem !important;
    }
}

/* Screen 400px */
@media (min-width: 400px) {
    /* Reduce the width of the my_col header */
    .body-bg .container .my_row .my_col #header {
        flex-direction: row;
    }
}

/* Screen SM */
@media (min-width: 568px) {
    /* Size of the Title my_row*/
    #main .my_row .my_row {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /* Padding of the Title my_col*/
    #main .my_row .my_row .my_col {
        padding: 0.4rem 0;
    }

    /* Adjust the size of the col username */
    #main .my_row .my_row .my_col:nth-child(5) {
        width: 56% !important;
    }
}

/* Screen 630px */
@media (min-width: 630px) {
    /* Size of the badge-green cell */
    .table-excel #record-table-body .badge-cell span.badge-green {
        width: 96%;
    }
}

/* Screen 660px */
@media (min-width: 660px) {
    /* Size of the badge-green cell */
    .table-excel #record-table-body .badge-cell span.badge-green {
        width: 90%;
    }
}


/* Screen 700px */
@media (min-width: 700px) {
    /* Size of the badge-green cell */
    .table-excel #record-table-body .badge-cell span.badge-green {
        width: 80%;
    }

    /* Adjust the size of the col username */
    #main .my_row .my_row .my_col:nth-child(5) {
        width: 46% !important;
    }
}

/* Screen MD */
@media (min-width: 767px) {
    /* Size of the badge-green cell */
     .table-excel #record-table-body .badge-cell span.badge-green {
        width: 70%;
    }
}

/* Screen MD */
@media (min-width: 768px) {
    /* Padding of the Title my_col*/
    #main .my_row .my_row .my_col {
        padding: 0.4rem 2rem;
    }
}

/* Screen 800px */
@media (min-width: 800px) {
    /* Size of the badge-green cell */
     .table-excel #record-table-body .badge-cell span.badge-green {
        width: 64%;
    }
}

/* Screen 1024px */
@media (min-width: 1024px) {
    /* Size of the badge-green cell */
     .table-excel #record-table-body .badge-cell span.badge-green {
        width: 50%;
    }

    /* Adjust the size of the col username */
    #main .my_row .my_row .my_col:nth-child(5) {
        width: 40% !important;
    }
}

/* Screen 1280px */
@media (min-width: 1280px) {
    /* Size of the badge-green cell */
     .table-excel #record-table-body .badge-cell span.badge-green {
        width: 35%;
    }

    /* Adjust the size of the col username */
    #main .my_row .my_row .my_col:nth-child(5) {
        width: 30% !important;
    }
}

/* Screen L */
@media (min-width: 1440px) {
    /* Padding of the date input column */
    #main .my_row .my_row .my_col {
        padding: 0.4rem 1.2rem;
    }

    /* Size of the badge-green cell */
    .table-excel #record-table-body .badge-cell span.badge-green {
        width: 31%;
    }

    /* Adjust the size of the col username */
    #main .my_row .my_row .my_col:nth-child(5) {
        width: 20% !important;
    }
}

/* Screen XL*/
@media (min-width: 1680px) {
    /* Padding of the date input column */
    #main .my_row .my_row .my_col {
        padding: 0.4rem 3.2rem;
    }

    /* Size of the badge-green cell */
    .table-excel #record-table-body .badge-cell span.badge-green {
        width: 26%;
    }
}

/* Screen XXL */
@media (min-width: 1920px) {
    /* Padding of the date input column */
    #main .my_row .my_row .my_col {
        padding: 0.4rem 3.2rem;
    }

     /* Size of the badge-green cell */
     .table-excel #record-table-body .badge-cell span.badge-green {
        width: 23%;
    }
}

/* Screen 2560px */
@media (min-width: 2560px) {
    /* Size of the badge-green cell */
     .table-excel #record-table-body .badge-cell span.badge-green {
        width: 17%;
    }
}

/* End responsive Saisie de temps admin */

/* End Page Saisie de temps */

/* Start Page Users admin */

/* Start responsive Page Users admin */
/* .container table.table-list-users {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.container table.table-list-users thead tr {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container table.table-list-users tr {
    display: flex;
    justify-content: space-evenly;
    width: 98%;
}

.container table.table-list-users tbody {
    display: block;
    height: 68rem;
    overflow: auto; */
    /* width: 1000%; */
/* }

.container table.table-list-users tbody tr {
    margin: 2rem 1rem;
    overflow: auto;
} */

/* End Page Users admin */

/* End responsive Page Users admin */

/* Start Page clients admin */

/* Start responsive Page clients admin */

/* Screen 640px */
@media (min-width: 640px) {
    /* Align all the row mobile in column */
    .container .mobile-clients-list-view .row {
        flex-direction: column;
        width: 100%;
    }
}

/* Screen MD */
@media (min-width: 768px) {
    /* Put a padding for the 2 side of the row in mobile */
    .container .mobile-clients-list-view .row {
        padding: 0 2rem;
    }
}

/* Screen 1281px */
@media (min-width: 1281px) {
    /* Put a padding for the left side of the row in mobile */
    .container .mobile-clients-list-view {
        padding-left: 6rem;
    }
}

/* Screen 1401px */
@media (min-width: 1401px) {
    /* Center the clients-list-view block */
    .container .clients-list-view {
        /* padding-left: 40rem; */
        align-content: center;
        display: grid;
        justify-content: end;
    }

    /* Enlarge the size of the column, adjust as needed */
    .container .clients-list-view .row .col-md-4 .row .column:nth-child(1) {
        margin-left: 10px !important;
    }

    /* Size of the table.table-list-users */
    .container .clients-list-view .row .col-md-6 table.table-list-users {
        margin-right: 2rem;
        width: 90rem !important;
    }
}

/* Screen 1440px */
@media (min-width: 1440px) {
    /* Size of the table.table-list-users */
    .container .clients-list-view .row .col-md-6 table.table-list-users {
        width: 96rem !important;
    }
}

/* Screen 1680px */
@media (min-width: 1680px) {
    /* Size of the table.table-list-users */
    .container .clients-list-view .row .col-md-6 table.table-list-users {
        width: 120rem !important;
    }
}

/* Screen 1920px */
@media (min-width: 1920px) {
    /* Size of the table.table-list-users */
    .container .clients-list-view .row .col-md-6 table.table-list-users {
        width: 144rem !important;
    }
}

/* Screen 2560px */
@media (min-width: 2560px) {
    /* Size of the table.table-list-users */
    .container .clients-list-view .row .col-md-6 table.table-list-users {
        margin-right: 6rem;
        width: 200rem !important;
    }
}

/* End responsive Page clients admin */

/* End Page clients admin */


/* Start Page User admin */

/* Start responsive Page User admin */
/* Screen S */
@media (min-width: 320px) {
    /* Center the header */
    .site-header .site-header__wrapper {
        display: flex;
        justify-content: space-around;
        padding-top: 0;
        padding-bottom: 0;
    }

    /* Adjust the size of the row */
    /* .body-bg .container .row {
        width: 100%;
    } */

    /* Center the title row */
    .container .row .column.column-60 {
        display: flex;
        justify-content: center;
        max-width: 100% !important;
    }

    /* Left side the title my_row espace admin saisie de temps and the my_row utilisateurs */
    .container .my_row {
        /* display: ruby-text; */
        padding-top: 0;
        padding-bottom: 0;
    }
}

/* Screen SM */
@media (min-width: 425px) {

}

/* Screen SM */
@media (min-width: 568px) {
    
}

/* Screen 640 */
@media (min-width: 640px) {
    /* Center the title row */
    .container .row .column.column-60 {
        flex: 1 1 auto;
        padding: 0;
    }
}

/* Screen MD */
@media (min-width: 768px) {
    /* Center the table-list-users */
    .container table.table-list-users {
        padding: 0 1rem;
    }
}

/* Screen 1281px */
@media (min-width: 1281px) {
    /* Center the table-list-users */
    .container table.table-list-users {
        display: table;
        margin: 0;
        padding-left: 2rem;
    }
}

/* Screen 1401px */
@media (min-width: 1401px) {
    /* Center the clients-list-view block */
    .container .clients-list-view {
        /* padding-left: 40rem; */
        align-content: center;
        display: grid;
        justify-content: end;
    }

    /* Enlarge the size of the column, adjust as needed */
    .container .clients-list-view .row .col-md-4 .row .column:nth-child(1) {
        margin-left: 10px !important;
    }

    /* Size of the table.table-list-users */
    .container .clients-list-view .row .col-md-6 table.table-list-users {
        margin-right: 2rem;
        width: 90rem !important;
    }
}

/* Screen 1440px */
@media (min-width: 1440px) {
    /* Size of the table.table-list-users */
    .container .clients-list-view .row .col-md-6 table.table-list-users {
        width: 96rem !important;
    }
}

/* Screen 1680px */
@media (min-width: 1680px) {
    /* Size of the table.table-list-users */
    .container .clients-list-view .row .col-md-6 table.table-list-users {
        width: 120rem !important;
    }
}

/* Screen 1920px */
@media (min-width: 1920px) {
    /* Size of the table.table-list-users */
    .container .clients-list-view .row .col-md-6 table.table-list-users {
        width: 140rem !important;
    }
}

/* Screen 2560px */
@media (min-width: 2560px) {
    /* Size of the table.table-list-users */
    .container .clients-list-view .row .col-md-6 table.table-list-users {
        margin-right: 6rem;
        width: 200rem !important;
    }
}

/* End responsive Page User admin */

/* End Page User admin */

/* End Ravo Modification */

/* Style des cellules */
.table-excel td {
    border: 1px solid #ddd;
    padding: 8px;
    /* max-width: 150px; */ /*Max-size of all the 'table-excel' to regul it individually - Ravo*/
    /* Taille maximale des cellules */
    overflow: visible;
    /* Empêche le contenu de déborder */
    text-overflow: ellipsis;
    /* Affiche "..." pour le contenu qui dépasse */
    /* white-space: nowrap; */ /* Revoye à la ligne le texte - Ravo */
    /* Empêche le contenu de se renvoyer à la ligne */
    word-wrap: break-word;
}

/* Style des cellules de données numériques */
/*
.table-excel td.numeric {
    text-align: right;
}
*/
/* Style des cellules de données avec un fond coloré */
.table-excel td.highlight {
    background-color: #ffffcc;
   
}



#info-saisie {
    display: flex;
    flex-direction: row;
    background-color: #f0f0f0;
        /* Couleur de fond */
    padding: 10px;
        /* Espacement intérieur */
    margin-bottom: 20px;
    margin-top: 20px;
        /* Marge inférieure */
}

#info-saisie p {
    margin: 5px 20px;
    /* Espacement entre les éléments */
}

.label {
    font-weight: bold;
    /* Pour mettre en gras */
    margin-right: 5px;
    /* Espacement à droite pour la séparation */
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    padding: 15px 20px;
    background-color: #f2f2f2;
    height: 80px;
        /* Ajuster la hauteur du navbar */
}

.user-details {
  /*  text-align: left; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.username {
    font-weight: bold;
    font-size: 1.2rem;
    /* Taille de police augmentée */
}

.user-details h2 {
    margin-bottom: 1px;
}

.user-info {
    font-size: 3px;
    margin-top: 5px;
    /* Ajoute un espace au-dessus des infos */
}

.normal-size {
    font-size: 5px;
        /* Taille de police typique pour un paragraphe */
}



.user-info span {
    font-size: 15px;
    /* Taille de police légèrement réduite */
    font-family: Arial, sans-serif;
    /* Style de police identique */
    font-weight: 500;
        /* Par exemple, une épaisseur de police moyenne */
}

.buttons {
    display: flex;
    align-items: center;
  
}

.buttons a {
    margin-right: 10px;
    /* Espacement entre les liens */
}

.buttons a:last-child {
    margin-right: 0;
    /* Pas de marge à droite pour le dernier lien */
}

.user-info span {
    margin-right: 40px;
    /* Augmente l'espace horizontal entre les éléments */
}

.my-form {
    margin-top: 20px;
    /* Ajoute une marge supérieure de 20 pixels */
}

.tom-select .tom-select__dropdown {
    position: absolute;
    z-index: 1000;
    /* Valeur à ajuster selon vos besoins */
    max-width: 300px;
    /* Ajustez cette valeur selon vos besoins */
}


.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}




.non-cliquable {
    cursor: not-allowed;
}
