.custom_container {
    width: 80%;
    /* Largeur du conteneur */
    margin: 0 auto;
    /* Centrer le conteneur horizontalement */
}

.custom_row {
    display: flex;
    /* Utiliser flexbox pour les lignes */
}

.custom_col {
    flex: 1;
    /* Distribuer l'espace disponible également entre les colonnes */
    border: 1px solid #ccc;
    /* Ajouter une bordure pour la délimitation */
    padding: 10px;
    /* Ajouter un espace intérieur */
    box-sizing: border-box;
    /* Inclure la bordure dans la largeur/hauteur */
}


.table-container {
    max-height: 800px;
    /* Ajustez la hauteur maximale selon vos besoins */
    overflow-y: auto;
    /* Ajoute une barre de défilement verticale lorsque le contenu dépasse */
    margin-top: 10px;
}

.custom-table {
    width: 100%;
    /* Assurez-vous que le tableau occupe tout l'espace disponible */
    border-collapse: collapse;
    /* Pour fusionner les bordures des cellules */
}

.custom-table thead th {
    background-color: #f2f2f2;
    /* Couleur de fond de l'entête du tableau */
    position: sticky;
    /* Fixe l'entête du tableau en haut de la vue lorsque vous faites défiler */
    top: 0;
    /* Place l'entête du tableau en haut */
    z-index: 2;
    /* Assure que l'entête reste au-dessus du contenu du tableau */
}

.custom-table tbody tr:hover {
    background-color: #f5f5f5;
    /* Couleur de fond au survol des lignes */
}


/* Style de la table */
.table-excel {
    width: 100%;
    border-collapse: collapse;
}

/* Style des en-têtes de colonnes */
.table-excel th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center; /* Center the heading table - Ravo */
    height: 15px;
        /* Définissez la hauteur de l'entête */
}

/* Start Ravo Modification */
/* Put the 'time' position to the left side */
.table-excel td:nth-child(6) {
    text-align: end;
}

/* Center the 'my_col' with padding */
.body-bg .container .my_row .my_col #header {
    display: flex;
}

/* Start Page Saisie de temps */
/* Start Responsive 'user_info'*/
.body-bg .container .my_col {
    margin: 0;
}
/* Screen SM */
@media (min-width: 568px) {
    .body-bg main#main .my_row .my_col #header div {
        font-size: 1.1rem;
        padding: 0 20px;
    }
}
/* Screen MD */
@media (min-width: 768px) {
    .body-bg main#main {
        padding: 50px 0 !important;
    }
    .body-bg main#main .my_row .my_col #header div {
        font-size: 1.4rem;
        padding: 0 32px;
    }
}
/* Screen L */
@media (min-width: 1024px) {
    .body-bg main#main .my_row .my_col #header div {
        font-size: 1.9rem;
        padding: 0 43px;
    }
}
/* Screen XL*/
@media (min-width: 1280px) {
    .body-bg main#main .my_row .my_col #header div {
        font-size: 2rem;
        padding: 0 70px;
    }
}
/* Screen XXL */
@media (min-width: 1920px) {
    .body-bg main#main .my_row .my_col #header div {
        font-size: 3rem;
        padding: 0 100px;
    }
}
/* Screen XXXL */
@media (min-width: 2560px) {
    .body-bg main#main .my_row .my_col #header div {
        font-size: 4rem;
        padding: 0 140px;
    }
}
/* End Responsive 'user_info'*/

/* Start Responsive 'table-excel'*/
td select[name="project_id"], td select[name="task"], td select[name="labels"] {
    width: 100%;
}
/* Screen SM */
@media (min-width: 568px) {
    /* Size of the date input column */
    td input[name="date"] {
        width: 90%;
    }
}
/* Screen L */
@media (min-width: 1024px) and (max-width: 1280px) {
    /* Size of the table_excel */
    /* .table-excel {
        width: 80%;
    } */
    /* Size of the date input column */
    td input[name="date"] {
        width: 80%;
    }
}
/* Screen XXL */
@media (min-width: 1920px) {
    /* Size of select 'project_id', 'task' and 'label' */
    /* td.project_id, td.task, td.labels {
        width: 50%;
    }*/
}

/* End Responsive 'table-excel'*/
/* End Page Saisie de temps */

/* End Ravo Modification */

/* Style des cellules */
.table-excel td {
    border: 1px solid #ddd;
    padding: 8px;
    /* max-width: 150px; */ /*Max-size of all the 'table-excel' to regul it individually - Ravo*/
    /* Taille maximale des cellules */
    overflow: hidden;
    /* Empêche le contenu de déborder */
    text-overflow: ellipsis;
    /* Affiche "..." pour le contenu qui dépasse */
    white-space: nowrap;
    /* Empêche le contenu de se renvoyer à la ligne */
}

/* Style des cellules de données numériques */
.table-excel td.numeric {
    text-align: right;
}

/* Style des cellules de données avec un fond coloré */
.table-excel td.highlight {
    background-color: #ffffcc;
}



#info-saisie {
    display: flex;
    flex-direction: row;
    background-color: #f0f0f0;
        /* Couleur de fond */
    padding: 10px;
        /* Espacement intérieur */
    margin-bottom: 20px;
    margin-top: 20px;
        /* Marge inférieure */
}

#info-saisie p {
    margin: 5px 20px;
    /* Espacement entre les éléments */
}

.label {
    font-weight: bold;
    /* Pour mettre en gras */
    margin-right: 5px;
    /* Espacement à droite pour la séparation */
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    padding: 15px 20px;
    background-color: #f2f2f2;
    height: 80px;
        /* Ajuster la hauteur du navbar */
}

.user-details {
  /*  text-align: left; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.username {
    font-weight: bold;
    font-size: 1.2rem;
    /* Taille de police augmentée */
}

.user-details h2 {
    margin-bottom: 1px;
}

.user-info {
    font-size: 3px;
    margin-top: 5px;
    /* Ajoute un espace au-dessus des infos */
}

.normal-size {
    font-size: 5px;
        /* Taille de police typique pour un paragraphe */
}



.user-info span {
    font-size: 15px;
    /* Taille de police légèrement réduite */
    font-family: Arial, sans-serif;
    /* Style de police identique */
    font-weight: 500;
        /* Par exemple, une épaisseur de police moyenne */
}

.buttons {
    display: flex;
    align-items: center;
  
}

.buttons a {
    margin-right: 10px;
    /* Espacement entre les liens */
}

.buttons a:last-child {
    margin-right: 0;
    /* Pas de marge à droite pour le dernier lien */
}

.user-info span {
    margin-right: 40px;
    /* Augmente l'espace horizontal entre les éléments */
}

.my-form {
    margin-top: 20px;
    /* Ajoute une marge supérieure de 20 pixels */
}